.trigger {
	font-size: 22px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}
.trigger:hover {
	color: #ff7c00;
}
.sider-logo {
	height: 40px;
	font-weight: 600;
	letter-spacing: 4px;
	border-radius: 6px;
	color: #000000;
	background: #eeeeee;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 16px;
}
.sider-logo-img {
	margin-right: 10px;
}

.site-layout .site-layout-content {
	background-color: #fff;
	margin: 24px 16px;
	min-height: 480px;
	flex: none;
}
